<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/afd04be0fc.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <header>
    <div class="contenedor">

      <nav class="menu">
          <a href="./QuienSoy#quien">¿Quien?</a>
          <a href="./QuienSoy#que">¿Qué es?</a>
          <a href="./QuienSoy#donde">¿Donde?</a>
          <a href="Principal"> <i _ngcontent-uer-c1="" class="fa fa-sign-out"></i> </a>
       </nav>


       <div class="contenedor_texto">

          <div class="texto">
           <h1 class="nombre">Joaquín Espósito</h1>
           <h2 class="profesion">Desarrolador full Stack</h2>

          </div>

      </div>

    </div>
</header>
<section class="main">

  <section class="acerca_de">
      <div class="contenedor">
          <div class="foto">
              <img class="img" src="./assets/imagenes/fotoMia.jpeg" width="250" height="250" alt="Joaquin Esposito">
          </div>
          <div id="quien" class="texto">
              <h3 class="titulo">Soy Joaquín Espósito, Alumno de la UTN FRA</h3>
              <p>Soy un <span class="bold">Desarrolador apasionado</span>  por lo que hace, siempre buscando la mejor forma para llevar a cabo mis trabajos y capacitandome constatemente para ser un mejor profecional. </p>
          </div>
          <hr>
          <div class="texto">
            <h3 class="titulo">Juego Simon Dice</h3>
            <p>Simón dice es un juego en el que la máquina es el llamado "Simón", es decir, el que dirige la acción. El participante debe hacer lo que Simón dice. En este caso repetir la secuencia de colores que se resaltan. El truco está en la secuencia mágica que es "Simón dice". Si Simón enciende el cuadro de color azul, el jugador deben presionar la luz azul o queda eliminado. Si repite acertadamente la acción, Simón sumará a la secuencia inicial un nuevo color y así sucesivamente hasta que el jugador se equivoque. El juego no tiene en si un final, sino se trata de mantenerse repitiendo la mayor cantidad de secuencias posibles. </p>
        </div>
        <hr>
        <div id="que" class="texto">
          <h3 class="titulo">Esto es un trabajo práctico</h3>
          <p>Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene estrategias didácticas y formas de evaluación diferentes. A pesar de que en muchos casos las universidades intentan estandarizar la forma de dictar clase para generar un orden en las planificaciones cuatrimestre a cuatrimestre, las formas de evaluación son elementales tanto para las instituciones y profesores como para los alumnos. A través de la evaluación formativa el educador busca información en el alumno para lograr comprender cómo se está produciendo el proceso de aprendizaje y poder reajustar los objetivos pedagógicos. Y para el alumno es una muestra del progreso que está logrando y si puede aplicar, materializar y darle visibilidad a la comprensión del tema. Según Black y William (1998), la evaluación formativa, ayuda a que los estudiantes sean independientes a la hora del aprendizaje, es decir, se presenta como receptor, autorregulador y centro de esa misma evaluación. </p>
      </div>
      <hr>

      </div>
  </section>
  <section class="trabajos">
    <div id="donde" class="contenedor">
      <h3 class="titulo">¿Donde Funciona?</h3>
      <div class="contenedor_trabajos">
       <div class="trabajo">

           <div class="thumb">
             <img src="./assets/imagenes/tecnologias.jpeg" width="500" height="500" alt="Anuncio Uno">
             <div class="descripcion">
                 <p class="nombre">Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>

             </div>


           </div>
       </div>
       <div class="trabajo">

           <div class="thumb" style="height: auto;">
             <img src="./assets/imagenes/tecnologias2.jpg" width="500" height="500" alt="Anuncio Dos">
             <div class="descripcion">
                 <p class="nombre">Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>

             </div>


           </div>
       </div>
       <div class="trabajo">

           <div class="thumb">
             <img src="./assets/imagenes/sistema-operativo.jpg" width="500" height="500" alt="Anuncio Tres">
             <div class="descripcion">
                 <p class="nombre">Para los sistemas operativos lideres en el mercado del consumo masivo</p>

             </div>


           </div>
       </div>

      </div>
    </div>

  </section>


</section>

<footer>

  <section class="redes_sociales">
   <div class="contenedor">
       <a href="https://www.facebook.com/joako.esposito" class="facebook"><i class="fa fa-facebook"></i></a>
       <a href="https://github.com/espositojoaquin" class="github"><i class="fa fa-github"></i></a>
       <a href="https://www.linkedin.com/in/joaqu%C3%ADn-esp%C3%B3sito-04209b194/" class="linkedin"><i class="fa fa-linkedin"></i></a>
   </div>
  </section>
</footer>



</body>
</html>



  <!-- <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./">Sala De Juegos</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./QuienSoy#quien">Quien</a></li>
          <li><a href="/TP_LAV4_2017/QuienSoy#que">Ques es</a></li>
          <li><a href="./QuienSoy#donde">Donde</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- First Container -->
  <!-- <div id ="quiwn"class="container-fluid bg-1 text-center">
    <h3 class="margin">Quién Soy?</h3>
    <img src="./assets/imagenes/fotoMia.jpeg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Soy Un alumno de la UTN FRA</h3>
  </div> -->

  <!-- Second Container -->
  <!-- <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Esto es un trabajo práctico</h3>
    <p>Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene estrategias didácticas y formas de evaluación diferentes. A pesar de que en muchos casos las universidades intentan estandarizar la forma de dictar clase para generar un orden en las planificaciones cuatrimestre a cuatrimestre, las formas de evaluación son elementales tanto para las instituciones y profesores como para los alumnos. A través de la evaluación formativa el educador busca información en el alumno para lograr comprender cómo se está
      produciendo el proceso de aprendizaje y poder reajustar los objetivos pedagógicos. Y para el alumno es una muestra del progreso que está logrando y si puede aplicar, materializar y darle visibilidad a la comprensión del tema. Según Black y William (1998), la evaluación formativa, ayuda a que los estudiantes sean independientes a la hora del aprendizaje, es decir, se presenta como receptor, autorregulador y centro de esa misma evaluación. </p>
    <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-file"></span> Descargar PDF
    </a>
  </div> -->

  <!-- Third Container (Grid) -->
  <!-- <div id ="donde" class="container-fluid bg-3 text-center">
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/tecnologias.jpeg" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
      </div>
      <div class="col-sm-4">
        <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
        <img src="./assets/imagenes/tecnologias2.jpeg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
      <div class="col-sm-4">
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/sistema-operativo.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
    </div>
  </div> -->

  <!-- Footer -->
  <!-- <footer class="container-fluid bg-4 text-center">
    <p>Modificado por <a href="https://www.octavio.com.ar">www.esposito.com.ar</a></p>
  </footer> -->
