img{
  width: 70%;
  position: relative;
  top: 16px;
}
.jumbotron{
   border-radius: 3rem;
  text-align: center;
  -webkit-box-shadow: 3px 7px 16px -2px rgba(0,3,5,1);
-moz-box-shadow: 3px 7px 16px -2px rgba(0,3,5,1);
box-shadow: 3px 7px 16px -2px rgba(0,3,5,1);

}
h1{
  font-weight: bolder;
  background-color:rgba(23,150,209,1);
  border-radius: 3rem;
  color:white;
}
#jugador{
  background-color: green;
  font-weight: lighter;
  color: white;
  border-radius: 2rem;
  border-bottom: 2rem;
  width: auto;
  height: auto;
  font-size: 2rem;
  margin-right: 1rem;
}
#oponente{
  background-color: rgb(204, 39, 39);
  font-weight: lighter;
  color: white;
  border-radius: 2rem;
  border-bottom: 2rem;
  width: auto;
  height: auto;
  font-size: 2rem;
  margin-bottom: 3rem;

}
.botones{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center;
}

.tablero{
  padding: .5em 1em;
  justify-content: center;
}

table{
  background-color: rgb(246, 246, 246);

}

td {
  text-align: center;
  height: 160px;
  width: 160px;
}

#center-row{
  border-top: 20px solid #454d55;
  border-bottom: 20px solid #454d55;
}

.borde-right{
  border-right: 20px solid #454d55;
}
button{
  width: 35rem;
  font-size: 2rem;
}

@media screen and (max-width: 810px)
{
 button{
     width: auto;
 }
}
