.imagenDeMenu{
width: 80px;
height: 70px;
border-radius: 100%;
margin: 1rem;
}

.container{

    width: 100%;
    height: 40rem;
    background-color:transparent;
    display: flex;
    flex-direction:column; /* filas*/
    flex-wrap: wrap; /* hace que se pongan de bajo si no entra*/
    justify-content: space-evenly; /* para que tengan espacio entre ellas*/
    align-content: center;
}
.menu{
  display: flex;
  flex-direction:row; /* filas*/
  flex-wrap: wrap; /* hace que se pongan de bajo si no entra*/
  justify-content: space-between; /* para que tengan espacio entre ellas*/
  background-color: rgb(204, 196, 196);
  width: 80%;
  height: 8rem;
  border-radius: 1rem;
  align-content: center;
  cursor: pointer;
  word-wrap: break-word;
}
#menu:hover{
  box-shadow: 2px 2px 10px rgb(67, 141, 252);
}
.encabezado
{
  width: 80%;
  height: 3rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color:#007bff;
  color: white;
  font-weight: 600 bold;
  padding-top: 0.5rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #100000;
    }

    /* Responisve*/
@media screen and (max-width: 1200px)
{
    .menu{
      height: auto;
      border-radius: 0%;
    }
    .encabezado{
      border-radius: 0%;
    }

}
@media screen and (max-width: 500px)
{
    .container{
      height: auto;
    }

}

