
<div *ngIf="!juegoIniciado" class="container ld ld-zoom-in">
  <h3>Elija un Nivel de Dificultad</h3>

  <select  [(ngModel)]="nivelSeleccionado" class="browser-default custom-select" >

    <option  *ngFor="let nivel of niveles">{{nivel.nombre}}</option>
  </select>

    <div class="botones">
      <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="iniciar()" [disabled]="(juegoIniciado || !nivelSeleccionado)">Comenzar</button>
      <button *ngIf="mostrarGur" [disabled]="desGuar"  class="btn btn-success btn-lg btn-block" (click)="guardar()" >Guardar</button>
      
    </div>

</div>

<app-cronometro
[tiempoMinutos]="tiempo"
[juegoIniciado]="juegoIniciado"
(tiempoTerminado)="perdio()"></app-cronometro>
<app-tablero [cantidadFichas]="cantidad" (gano)="gano()"  *ngIf="juegoIniciado"></app-tablero>

<div *ngIf="juegoIniciado"class="fin">
  <button  type="submit" class="btn btn-danger" (click)="detener()" [disabled]="(!juegoIniciado)">Finalizar</button>
</div>

