.alert{
  position:fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index:9999;
  border-radius:0px;
  margin-bottom: 0
}
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(209, 201, 201);
  padding: 2rem;
  width: 40rem;
  border-radius: 2rem;
  text-align: center;
  margin-bottom: 5rem;
  -webkit-box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.75);

}
h3{
  margin-bottom: 5rem;
  color:white;
  background-color:rgba(23,150,209,1);
  border-radius: 2rem;
  font-family: serif;
  font-weight: 900;
}
.botones{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6rem;
  border-radius: 1rem;
}
.fin{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem;
}
