
.jumbotron{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color:white;
  text-align: center;
  border-radius: 2rem;
  -webkit-box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
  margin-bottom: 3rem;

}
.numSecreto{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
h1{
  font-weight: bolder;
  background-color:rgba(23,150,209,1);
  border-radius: 3rem;
  color:white;
  margin-bottom: 3rem;
  font-family: serif;
}
.labelIngresar{
  font-size: 3rem;
  font-weight: bold;
  font-family: serif;
  margin-bottom: 3rem;
}
.verifboton{
  width: 15rem;
  margin-top: 3rem;
}


#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;

    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#snackbar.Ganador {
    background-color: #059F2F;
}
#snackbar.Perdedor {
    background-color: #FF0000;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
