<app-cabecera ></app-cabecera>

<div class="container" >
  <div class="jumbotron" >
    <form class="ld ld-blur-in" action="return true;">
      <div class="imgcontainer">
        <img src="./assets/imagenes/email.jpg" alt="Avatar" class="avatar" max-width="104" >
      </div>
      <div style="justify-content: center; display:flex; flex-direction: row; flex-wrap: wrap; margin-bottom: 2rem;">
        <button style="margin-right: 2rem;" (click)="invitado()" class="btn-warning btn-sm invitado"  onclick="this.blur();">Ingresar como invitado</button>
        <button (click)="invitado2()" class="btn-warning btn-sm invitado"  onclick="this.blur();">Ingresar como Juan</button>
      </div>
      
      
      <div class="container"> 
       <label ><b>Email</b></label>
        <input id="email" class="form-control"  type="email" placeholder="Email"  [(ngModel)]="email"  name="uname" required>
        <label><b>Clave</b></label>
        <input class="form-control" type="password" placeholder="Clave"  [(ngModel)]="clave" name="psw" required>
         
        <div class="divBoton">
          <button class="btn-success btn-sm button"  *ngIf="logeando" type="submit" onclick="this.blur();"  (click)="Entrar()" >Ingresar</button>

        </div>

        <br>
       
      </div>

      <div  style="justify-content: center; display: flex;flex-direction: row;">

        <!-- <span class="psw" style="color: red;">Te olvidaste <a href="#">la clave?</a></span> -->
        <span class="psw" style="color: green; margin-bottom: 2rem;">¿ No sos Usuario ? <a href="/Registro">Resgistrate</a></span>
      </div>

    </form>

    
  </div>
</div>
