/*.container{
    padding: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: red;
    width: 100%;
    height: 100%;
}*/
table{
    margin-top: 5rem;
    border-radius: 2rem;
    -webkit-box-shadow: 12px 13px 15px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 12px 13px 15px -7px rgba(0,0,0,0.75);
box-shadow: 12px 13px 15px -7px rgba(0,0,0,0.75);
}
@media screen and (max-width: 800px)
{
   table{
       width: 20rem;
       height: 20rem;
   }
   .container{
       justify-content: left;
   }
}
@media screen and (max-width: 430px)
{
   table{
       width: 10rem;
       height: 10rem;
   }
   
}
