<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
<header>
  <div class="contenedor ld ld-float-rtl-in">
      <nav class="menu">
        <a href="/QuienSoy">¿Quién soy? </a>
        <a href="/Registro">Sign in</a>
        <a (click)="logOut()" href="/Login">Login</a>

    </nav>
    <!-- <div class="hero-text">
        <h1 style="font-size:50px">Sala de Juegos</h1>
        <p>Esposito Joaquin</p>
        <a href="https://github.com/espositojoaquin"target="_blank">en GitHub <i class="fa fa-github"></i></a>
        <a  routerLink="/QuienSoy" >Quien Soy? <i class="fa fa-user"></i></a>
    </div> -->
    <div class="contenedor_texto">

      <div class="texto">
       <h1 class="juego" >Sala de Juegos</h1>
       <h2 class="quien">Joaquín Espósito</h2>

    </div>

  </div>

  </div>

</header>
