ul li:hover{
  color: #ffffff;
  background-color: #007bff;
  cursor: pointer;
}
/*.jumbotron{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.en-juego{
  background-color: red;
}*/
